h1 {
  color: red;
}
.nav {
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
  text-align: center;
  margin: 5%;
}

.employees {
  display: inline-block;
  margin: 2%;
}

.aboutInfo {
  float: left;
  width: 50%;
  text-align: justify;
}

.employeeBox {
  float: right;
}

.commentAuthor {
  color: orange;
}
